#footer{
    position: fixed;
    bottom:1%;
    width:100%;
    left: 10%;
    right: 10%;
}

#footer-font{
    font-size: 24px;
}

.header{
    width: 100%;
    height: auto;
    background: #22344e;
}

.header-text{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    text-align: center;
}

